#style-switcher {  
  position: fixed;  
  width: 184px;  
  top: 15px;  
  margin-left: -213px;  
  color:#333;
  background: url(0.png) #f3f3f3;
  padding: 20px 10px;
  border: 4px solid #515151;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index:9999999;     
} 

#style-switcher-container {
  position: relative;  
  width: 184px;    
}

.color_whell {
background: url(color2.png) no-repeat left top;
height: 200px;
width: 60px;
position: absolute;
right: -70px;
top: 10px;
cursor: pointer;
}

.caseta-menu,
.caseta
a.caseta-menu,
a.caseta,
a.casetapat
 {
	width:20px;
	height:20px;
	line-height: 20px;
	display:block;
	float:left;
	margin-right:2px;
	margin-left:2px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	text-align: center;
	color: #555;
	font-size: 10px;
	background: #fff;
}

#colorpicker, #colorpicker2, #colorpicker3 {
	width: 24px;
	height: 24px;
	background-image: url(select2.png);
	background-repeat:no-repeat;
	float:left;
	margin-right:1px;
	margin-left: 1px;
}

#colorpicker div, #colorpicker2 div, #colorpicker3 div {
	width: 24px;
	height: 24px;
	background: url(select2.png) center;
}
div.switchercontainer{
	margin-bottom:10px;
}
div.switchercontainer span{
	display:block;
	margin-bottom:3px;
	margin-top:10px;
	padding-left:2px;
	color:#333333;
	font-size: 10px;
}

a#switcher-reset{
	display:block;
	height:24px;
	width: 80px;
	line-height:24px;
	font-size:12px;
	padding: 0 10px;
	margin-left: 40px;
	color:#fff;
	background: #515151;
	border: 2px solid #999;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a:hover#switcher-reset{
	color:#fff;
	background: #FFA07A;
	border: 2px solid #333;
	text-decoration: none;
}

.note_switcher {
font-size: 10px;
}