 /*
___________________________________

DarkBlue color Scheme
___________________________________
*/

/* Links color */
a { color: #0D3B5E; }
a:hover{ color: #356081; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #639AF1;
}

/* Text select color */
::selection, ::-moz-selection {
background-color: #639AF1;
color: #000;
text-shadow: none;
}

/* Header and footer background color */
header.main_header {
    background-color: #0076a3;
}

/* Page title color */
header.page h1 {
color: #243440;
}

/* DropCaps color */
.drop-cap, .drop-cap1, .drop-cap2, .drop-cap3 {
background:#243440;
color: #fff;
border: 2px solid #fff;
}

